<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tfg2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG2">
        <activity android:name=".EntrenamientoActivity"></activity>
        <activity android:name=".PantallaPrincipalActivity" />
        <activity android:name=".PonerDatosPorEjercicioActivity" />
        <activity android:name=".SeleccionarGrupoEjerciciosActivity" />
        <activity android:name=".PonerDatosActivity" />
        <activity android:name=".EntrenarActivity" />
        <activity android:name=".PopUpActivarTabla" />
        <activity android:name=".VerTablaActivity" />
        <activity android:name=".PopUpAnadirTabla" />
        <activity android:name=".TablasEjercicios" />
        <activity android:name=".CrearEjercicio" />
        <activity android:name=".PopUpAnadirEjercicio" />
        <activity android:name=".AnadirEjercicio" />
        <activity android:name=".CrearTablaActivity" />
        <activity android:name=".TablasMenu" />
        <activity android:name=".MenuActivity">

        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>